# Ignore everything
*

# But allow these specific files/directories
!.gitignore
!README.md
# Add more allowed files with ! prefix
# !path/to/allowed/file
# !path/to/allowed/directory/
!osa 0/
!part1/
!part2/
!part3/

