# Ignore everything
*

# But allow these specific files/directories
!.gitignore
!README.md
# Add more allowed files with ! prefix
# !path/to/allowed/file
# !path/to/allowed/directory/
!osa 0/
!osa 0/**
!part1/
!part1/**
!part2/
!part2/**
part2/playground/
!part3/
!part3/**
!part4/
!part4/**

# Ignore node_modules directories everywhere
**/node_modules

# Ignore env files
**.env